@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img class="logo" src="~/img/logoAmbev.jpg" />
    <h1 class="display-4"><b>Ambev Shopping</b></h1>
    <br />
    <h1 class="display-5">
        Products
    </h1>
</div>
