@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img class="logo" src="~/img/logoAmbev.jpg" />
    <h1 class="display-4"><b>Ambev Shopping</b></h1>
    <br />
    <h1 class="display-5">
        Products
    </h1>
    <div id="products" class="products">
        <div class="product">
            <img src="~/img/brahma.jpg" class="imgProduct" />
            <p class="productDescription">
                Descrição Descrição Descrição DescriçãoDescrição
                Descrição Descrição
            </p>
            <p id="qtde" class="qtde">Qtde</p>
            <input  type="text" id="tdeTxt" class="qtdeTxt" />
            <div id="btnAddProductCart" class="addCart">Adicionar</div>
        </div>
        <div class="product">
            <img src="~/img/brahma.jpg" class="imgProduct" />
            <p class="productDescription">
                Descrição Descrição Descrição DescriçãoDescrição
                Descrição Descrição
            </p>
            <p id="qtde" class="qtde">Qtde</p>
            <input type="text" id="tdeTxt" class="qtdeTxt" />
            <div id="btnAddProductCart" class="addCart">Adicionar</div>
        </div>
        <div class="product">
            <img src="~/img/brahma.jpg" class="imgProduct" />
            <p class="productDescription">
                Descrição Descrição Descrição DescriçãoDescrição
                Descrição Descrição
            </p>
            <p id="qtde" class="qtde">Qtde</p>
            <input type="text" id="tdeTxt" class="qtdeTxt" />
            <div id="btnAddProductCart" class="addCart">Adicionar</div>
        </div>
        <div class="product">
            <img src="~/img/brahma.jpg" class="imgProduct" />
            <p class="productDescription">
                Descrição Descrição Descrição DescriçãoDescrição
                Descrição Descrição
            </p>
            <p id="qtde" class="qtde">Qtde</p>
            <input type="text" id="tdeTxt" class="qtdeTxt" />
            <div id="btnAddProductCart" class="addCart">Adicionar</div>
        </div>
        <div class="product">
            <img src="~/img/brahma.jpg" class="imgProduct" />
            <p class="productDescription">
                Descrição Descrição Descrição DescriçãoDescrição
                Descrição Descrição
            </p>
            <p id="qtde" class="qtde">Qtde</p>
            <input type="text" id="tdeTxt" class="qtdeTxt" />
            <div id="btnAddProductCart" class="addCart">Adicionar</div>
        </div>
        <div class="product">
            <img src="~/img/brahma.jpg" class="imgProduct" />
            <p class="productDescription">
                Descrição Descrição Descrição DescriçãoDescrição
                Descrição Descrição
            </p>
            <p id="qtde" class="qtde">Qtde</p>
            <input type="text" id="tdeTxt" class="qtdeTxt" />
            <div id="btnAddProductCart" class="addCart">Adicionar</div>
        </div>
    </div>
</div>
